*{
  margin:0;
}

body{
    font-family: "roboto", sans-serif;
    font-size:1em;
}

#wrapper{
    max-width:1200px; /* if viewport is smaller than 1200px the width will be 100% of viewport's */
    margin-left:auto;
    margin-right:auto;
}

header{
    background-color: #448CCB;
    height:200px;
}

header{
    color:#fff;
}
h1{
    font-weight: 300;
    front-size:4em;
}

h2, h3{
    font-sie:1.5em;
    font-weight: 400;
}

h3{
    background-color: #56c8d8;
    height:34px;
    border-bottom:solid 8px #fdd835;
    padding-left:16px;
    padding-top:30px;
    margin-bottom:24px;
}
#content{
    display: flex;
    flex-direction:column; /* items arrnged vertically */
}

.content-item{
    padding-left:16px;
    padding-right:16px;
    margin-bottom:32px;
}

#work img{
    width:100%; 
}


/* ******* web version ******* */


@media(min-width:768px){

h1{
    font-size:6em;
}

#content{
    flex-direction: row; /* items arranged horizontally */
}
    
    #work{
        width: 75%
    }
    
    #about{
        width: 25%
    }
    
} /* closing media query */


@media(max-width:640px){
    
    
}